body {
    background-color: gainsboro;
    width: 100%;
    height: 450px;
}

/* Header: aquí va el logo en la parte superior */
.logo {
    float:left;
    padding: 15px;
}

/* Main: aquí va el contenido del proyecto, el centro del proyecto */
.contenido {
    display: flex;
}

textarea {
    resize: none;
}

/* Sector izquierdo: aquí va a estar el cuadro donde el usuario agregara el texto, y los botones con su respectiva funciones */

.lado-izquierdo {
    display: block;
    width: 65%;
    height: 450px;
    margin-left: 10%;
}

.texto-entrante {
    border: none;
    border-radius: 5px;
    background-color: gainsboro;
    width: 90%;
    height: 290px;
    margin-top: 70px;
    margin-left: 5%;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    outline: none;
}

.texto-entrante::placeholder {
    color: darkblue;
}

/* Icon de informacion */

.icon {
    display: flex;
    margin: 5px 6%;
}

i {
    color: grey
} 

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin: 2px 7px;
}

/* Botones de encriptar y desencriptar */

.boton {
    display: flex;
    justify-content: center
}

.encriptar-texto {
    width: 35%;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 15px;
    color: gainsboro;
    background-color: rgb(0, 0, 139);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0 1.5%;
    cursor: pointer;
}

.encriptar-texto:hover {
    font-size: 23px;
    box-shadow: 2px 2px 15px #333;
    transition: 400ms;
}

.encriptar-texto::after {
    content: "!";
}

.desencriptar-texto {
    width: 35%;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 15px;
    color: darkblue;
    background-color: rgba(0, 0, 139, 0.137);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0 1.5%;
    cursor: pointer;
}

.desencriptar-texto:hover {
    font-size: 23px;
    box-shadow: 2px 2px 15px #333;
    transition: 400ms;
}

.desencriptar-texto::after {
    content: "!";
}

/* Sector derecho: aquí va a estar el cuadro donde el usuario visualizará el texto, y el botón con su respectiva funciones */

.lado-derecho {
    display: block;
    background-color: whitesmoke;
    background-image: url(images/Muñeco.png);
    background-repeat: no-repeat;
    background-position: 25px 80px;
    background-size: 200px 190px;
    width: 28%;
    height: 440px;
    border-radius: 20px;
    margin: 5px 17px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-top: 300px;
}

.p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    text-align: center;
    margin-top: 7px;
}

#copiado h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-top: 300px;
}

#copiado p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    text-align: center;
    margin-top: 7px;
}

/* Aquí se visualizará el texto encriptado */

.texto-resuelto {
    border: none;
    border-radius: 5px; 
    background-color: whitesmoke;
    width: 95%;
    height: 300px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
    margin: 10px 5px;
}

/* Botón de copiar texto */

.copy{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.copiar {
    width: 50%;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 15px;
    color: darkblue;
    background-color: rgba(220, 220, 220, 0.236);    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    cursor: pointer;
}

.copiar:hover {
    font-size: 23px;
    box-shadow: 2px 2px 15px #333;
    transition: 400ms;
}

.copiar::after {
    content: "!";
}

/* Aquí veremos el footer con la informacion del desarrollador */

.rodapie {
    text-align: center;
    background: linear-gradient(#cfcfcf 40%, #888);
    margin-top: 25px;
}

.rodapie img {
    border: 3px solid rgba(2, 2, 61, 0.753);
    border-radius: 65px;
    width: 95px;
    height: 90px;
    margin: 15px 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 139, 0.349);
}

.rodapie h3 {
    padding-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 139, 0.918);
    text-shadow: 0 0 20px rgba(21, 21, 22, 0.795);
}

/* .rodapie h3:hover {
    font-size: 33px;
    text-shadow: 2px 2px 5px rgba(220, 220, 220, 0.236);
} */

.rodapie i {
    font-size: 35px;
    margin: 10px 5px;
    color:darkblue
}

.fa-github:hover {
    color: black;
}

.fa-linkedin:hover {
    color: rgba(0, 0, 139, 0.856);
}

.rodapie p {
    padding: 7px 0;
    color: darkblue;
}